*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbar{
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar ul{
  width: 150px;
  display: flex;
  gap : 2px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.container{
  width: 50%;
  margin: auto;
}

.container input{
  width: 100%;
  padding: 20xpx;
}

.card{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid black;
}

form{
  margin-top: 10px;
  margin-bottom: 10px;
}

form input{
  margin-top: 10px;
  padding: 5px !important;
  margin-bottom: 10px;
}